* text=auto eol=lf

*.lua text eol=lf
*.toc text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

*.blp binary
*.mp3 binary
*.ogg binary
*.png binary
*.tga binary
